@charset "UTF-8";

/* 
    em HTML é id = em CSS é # (pode só um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(205, 255, 205);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(73, 109, 71);
}

.basico{
    color: rgb(118, 129, 55);
}

.intermediario{
    color: rgb(55, 62, 129);
}

.avançado{
    color: rgb(129, 55, 55);
}

.destaque{
    background-color: rgba(136, 136, 67, 0.404);
}