@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    font-size: 1.2em;
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

li {
    list-style: none;
    margin-left: 10px;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

a:hover {
    color: grey;
}

h1 {
    margin: 50px;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

.section {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.not {
    flex: 1 1 200px;
    padding: 5px;
}

.bermuda {
    
}
