@charset "UTF-8";

body{
    height: 100vh;

    /*

    background-color: black;
    background-image: url('../imagens/wallpaper002.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    shorthand background
        color > image > position > / [size] > repeat > attachment
    
    */

    background: black url('../imagens/wallpaper002.jpg') center center / cover no-repeat fixed;
}

main{
    max-width: 400px;
    background-color: white;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}