@charset "UTF-8";

body{
    height: 100vh;
    background-color: black;
    background-image: url('../imagens/wallpaper002.jpg');
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}

main{
    width: 400px;
    background-color: white;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}

