@charset "UTF-8";

.container {
    height: 500px;
    background-color: rgb(180, 180, 180);
    display: flex;
    
    /*
    flex-direction: row;
        /* row-reverse | column | column-reverse

    flex-wrap: nowrap;
        /* wrap | wrap-reverse
    */

    flex-flow: row wrap;
        /* simplificação de flex-direction e flex-wrap */ 
    
    justify-content: flex-start;
    /* flex-end | space-around |space-between */

    align-items: stretch;
    /* flex-start | flex-end | center | baseline */

    align-content: stretch;
    /* flex-start | flex-end | center | space-between | space-around */
}

.item {
    background-color: rgb(68, 64, 64);
    color: white;
    padding: 20px;
    margin: 5px;
    width: 200px;
}
