@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #6db0bb, #A6CFD5);
}

main{
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #82a3a8c4;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1{
    color: #0F084B;
    text-align: center;
    text-shadow: 1px 1px 0px #0a0535ad;
}

h2{
    color: #26408B;
}

p{
    text-align: justify;
}

